@using EKLEXIA.DataProtection;
@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model IEnumerable<EKLEXIA.ViewModels.FundsVM>;


<div class="card">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-center">Funds</h5>




        <a class="btn btn-primary btn-sm text-white" asp-action="AddMember" asp-controller="Member"><i class="fa fa-fw fa-sm fa-plus-circle"></i>New Member</a>

        <div class="card-header-right">


            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>DoB</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Phone</th>

                        <th>Clinic Number</th>
                        <th>Insurance</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var fund in Model)
                    {
                        <tr>

                            <td> @fund.Name</td>

                            <td>@fund.Purpose</td>
                            <td>@fund.Description</td>

                            <td>
                                <div class="text-center">
                                    <div class="btn-group" role="group">
                                        <button data-toggle="ajax-modal" data-url="@Url.Action("EditGroup",new{Id=@Encryption.Encrypt(fund.FundId)})" class="btn btn-sm btn-primary" data-target="#EditGroup"><i class="fa fa-sm fa-edit text-white"></i></button>
                                        <button data-toggle="ajax-modal" data-url="@Url.Action("ManageGroup",new{Id=@Encryption.Encrypt(fund.FundId)})" class="btn btn-sm btn-primary" data-target="#ManageGroup"><i class="fa fa-sm fa-users text-white"></i></button>

                                        <button data-toggle="ajax-modal" data-url="@Url.Action("ManageGroup",new{Id=@Encryption.Encrypt(fund.FundId)})" class="btn btn-sm btn-primary" data-target="#ManageGroup"><i class="fa fa-sm fa-trash text-white"></i></button>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    }




                </tbody>
            </table>
        </div>
    </div>
</div>
