@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model IEnumerable<EKLEXIA.ViewModels.ViewCardListVM>;


<div class="col-3">


    <a class="btn btn-primary text-white" asp-action="AddMember" asp-controller="Member"><i class="fa fa-fw fa-lg fa-plus-circle"></i>New Member</a>
</div>


<div class="card-header py-3">

    <h6 class="m-0 font-weight-bold text-primary text-center">ID Card List</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DoB</th>
                    <th>Gender</th>
               
                    <th>Phone</th>
                 
                    <th>Clinic Number</th>
                    <th>Insurance</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var Member in Model)
                {
                    <tr>
                        <td>@Member.Fullname</td>
                        <td> @Member.DateofBirth.ToString("yyyy-MM-dd")</td>

                        <td>@Member.GenderId</td>
                       
                        <td>@Member.Telephone</td>
                  
                        <td>@Member.ClinicNumber</td>
                        <td>@Member.Insurance</td>
                        <td>
                            <div class="text-center">
                                <a asp-action="Card" asp-controller="Member" asp-route-Id="@Member.MemberId" class="btn btn-primary btn-circle"><i class="fa fa-sm fa-print text-white"></i></a>
                           
                            </div>
                        </td>
                    </tr>
                }




            </tbody>
        </table>
    </div>
</div>

