@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model IEnumerable< EKLEXIA.ViewModels.ViewIncomesVM>;


       
<div class="col-3">
  

        <a class="btn btn-primary text-white" asp-action="AddIncome" asp-controller="Finance"><i class="fa fa-fw fa-lg fa-plus-circle"></i>New Income</a>
    </div>



    
      

            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary text-center">Incomes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Description</th>
                             
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var Income in Model)
                            {
                            <tr>
                                
                                <td> @Income.Date.ToString("yyyy-MM-dd")</td>

                                <td>@Income.Amount</td>
                                <td>@Income.Description</td>
                           
                                <td>
                                    <div class="text-center">
                                        <a asp-action="DetailIncome" asp-controller="Finance" asp-route-Id="@Income.IncomeId." class="btn btn-primary btn-circle"><i class="fa fa-sm fa-info text-white"></i></a>
                                        <a asp-action="EditIncome" asp-controller="Finance" asp-route-Id="@Income.IncomeId" class="btn btn-primary btn-circle"><i class="fa fa-sm fa-edit text-white"></i></a>
                                        <a asp-action="DeleteIncome" asp-controller="Finance" asp-route-Id="@Income.IncomeId" class="btn btn-primary btn-circle"><i class="fa fa-sm fa-trash text-white"></i></a>
                                    </div>
                                </td>
                            </tr>
                            }




                        </tbody>
                    </table>
                </div>
            </div>
  
