                                                                                   @{
    Layout = "~/Views/MainLayout.cshtml";
}
@model EKLEXIA.ViewModels.AddMemberVM;
<!DOCTYPE html>


<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0 font-weight-bold text-center">New Member</h5>
                                            
                <div class="card-header-right">


                    <ul class="list-unstyled card-option">
                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                        <li><i class="fa fa-window-maximize full-card"></i></li>
                        <li><i class="fa fa-minus minimize-card"></i></li>
                        <li><i class="fa fa-refresh reload-card"></i></li>
                        <li><i class="fa fa-trash close-card"></i></li>
                    </ul>
                </div>
                                                            
            </div>

                    <div class="card-body">
                     


    

                @using (Html.BeginForm("AddMember", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                         
                    <div id="smartwizard">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#step-1">
                                    <span class="num">1</span>
                                   Biodata
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#step-2">
                                    <span class="num">2</span>
                                    Address
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#step-3">
                                    <span class="num">3</span>
                                    Photo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#step-4">
                                    <span class="num">4</span>
                                    Additional Info
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                                <div class="input-group input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon fa fa-user-circle"></i></span>
                                    </div>
                                    <input class="form-control" asp-for="@Model.Surname" type="text" placeholder="Surname">
                                </div>

                                <div class="input-group input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon fa fa-user-circle"></i></span>
                                    </div>
                                    <input class="form-control" asp-for="@Model.Othername" type="text" placeholder="Othernames">

                                </div>

                                <div class="input-group input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Date of Birth</span>
                                    </div>
                                    <input id="dob" class="form-control js-datepicker" type="date" asp-for="@Model.DoB" asp-format="{0:dd/MMM/yyyy}"/>
                                </div>


                              @*  <div class="form-group form-group-lg">

                                    <select class="select2 form-control input-lg" style="width:100%" multiple="multiple" title="Select Gender" data-placeholder="Select gender" asp-items="@Model.Genders" asp-for="@Model.GenderId"></select>
                                </div>*@
                                <div class="form-group">
                                   @* <div class="btn-group" data-toggle="buttons">
                                        <label class="pdsa-radiobutton btn  btn-sm btn-primary active">
                                            <span><i class="fa fa fa-male"></i></span>
                                            @Html.RadioButton("gender",  Model.GenderId, true,
                                        new { id = "IsMale",value=Model.GenderId }) Male
                                        </label>
                                        <label class="pdsa-radiobutton btn btn-sm text-white" style="background-color:deeppink">
                                            <span><i class="fa fa fa-female"></i></span>
                                            @Html.RadioButton("gender", "Female",
                                        new { id = "IsFemale" }) Female
                                        </label>
                                        <label class="pdsa-radiobutton btn btn-sm btn-primary">
                                            <span><i class="fa fa fa-female"></i></span>
                                          @*  <input asp-for="@Model.GenderId" type="radio" value="@Model.GenderId" name="Gender" />*@
                                       @* </label>
                                        <label class="pdsa-radiobutton btn btn-sm text-white" style="background-color:deeppink">
                                            <span><i class="fa fa fa-female"></i></span>
                                            @Html.RadioButtonFor(g=>g.GenderId,"Female")
                                        </label>*@

                                        <div class="btn-group-sm">
                                       @foreach (var gender in Model.Genders)
                                        {

                                            @if (gender.Text == "Female")
                                            {

                                                <label class=" btn btn-sm text-white" style="background-color:deeppink">
                                                    <span><i class="fa fa fa-female"></i></span>
                                                    <input  type="radio" asp-for="@Model.GenderId" value="@gender.Value" id="Gender@(gender)"/>

                                                    @gender.Text
                                                </label>

                                            }
                                            else
                                            {
                                                <label class=" btn btn-sm btn-primary">
                                                    <span><i class="fa fa fa-male"></i></span>
                                                    <input type="radio" asp-for="@Model.GenderId" value="@gender.Value" id="Gender@(gender)" />

                                                    @gender.Text
                                                </label>


                                            }




                                    }
                                        </div>
                                       
                                    </div>
                               
                          

                                <div class="form-group">

                                    <select type="text" class="select2 form-control" data-placeholder="Select Marital Status" multiple="multiple" style="width:100%" title="Select Marital Status" asp-for="@Model.MaritalStatusId" asp-items="@Model.MaritalStatuses"></select>
                                </div>
                                <div class="form-group">

                                    <select class="select2 form-control" data-placeholder="Select Career" multiple="multiple" style="width:100%" title="Select Career" asp-for="@Model.CareerId" asp-items="@Model.Careers"></select>
                                </div>



                            </div>
                            <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon fa fa-home"></i></span>
                                    </div>
                                    <input class="form-control" asp-for="@Model.Residence" type="text" placeholder="Enter Residence">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">

                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input class="form-control" asp-for="@Model.Telephone" type="text" placeholder="Enter Telephone">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                    </div>
                                    <input class="form-control" asp-for="@Model.Address" type="text" placeholder="Enter Address" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon fa fa-map-pin"></i></span>
                                    </div>
                                    <input class="form-control" asp-for="@Model.Hometown" placeholder="Enter Hometown" />
                                </div>
                                <div class="form-group">
                                    <select class="select2 form-control" multiple="multiple" style="width:100%" data-placeholder="Select region" title="Select Region" asp-for="@Model.RegionId" asp-items="@Model.Regions"></select>

                                </div>

                            </div>
                           
                            <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                              
                                        <div class="form-group">
                                        <img id="image" height="260" width="250" src="" />
                                        </div>

                                        <div class="form-group">
                                                        <input class="btn btn-sm btn-primary" accept="capture=camera,image/*" id="Photo" name="Photo" onchange="document.getElementById('image').src=window.URL.createObjectURL(this.files[0])" type="file" asp-for="UploadPhoto" />

                           
                                                    </div>
                                                    </div>

                                
                               
                                  


                                        
                                        

                           
                                      
                            
                         
                           
                            <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                             
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">



                                            <select class="select2 form-control" multiple="multiple"  data-placeholder="Select branch" style="width:100%" asp-items="@Model.Branches" asp-for="@Model.BranchId" title="Select Branch"></select>

                                        </div>
                                        </div>

                                  
                                   
                                 

                                </div>

                                <div class="form-group">
                                <button class="btn btn-sm btn-primary" onsubmit="sendForm(event)">Save</button>
                                </div>
                        </div>

                        <!-- Include optional progressbar HTML -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
        
                </div>
                   
      }
      </div>
      </div>
      </div>
  
      </div>


