@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model EKLEXIA.ViewModels.EditMemberVM;

       

<div class="card">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-center">Edit Member</h5>

        <div class="card-header-right">


            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>

    </div>

    <div class="card-body">





        @using (Html.BeginForm("EditMember", "Member", FormMethod.Post))
        {

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon fa fa-user-circle"></i></span></div>
                    <input class="form-control mr-2" asp-for="@Model.Surname" type="text" placeholder="Surname">


                    <div class="input-group-prepend"><span class="input-group-text "><i class="icon fa fa-user-circle"></i></span></div>
                    <input class="form-control" asp-for="@Model.Othername" type="text" placeholder="Othernames">
                </div>
            </div>

           
                     
                        <div class="form-group">
                        <div class="input-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Date of Birth</span>
                            </div>
                            <input id="dob" class="form-control mr-2 js-datepicker" type="date" asp-for="@Model.DoB" asp-format="{0:dd/MMM/yyyy}" />
                        </div>


                        
                          

                            <div class="btn-group-sm">
                                @foreach (var gender in Model.Genders)
                                {

                                    @if (gender.Text == "Female")
                                    {

                                        <label class=" btn btn-sm text-white" style="background-color:deeppink">
                                            <span><i class="fa fa fa-female"></i></span>
                                            <input type="radio" asp-for="@Model.GenderId" value="@gender.Value" id="Gender@(gender)" />

                                            @gender.Text
                                        </label>

                                    }
                                    else
                                    {
                                        <label class=" btn btn-sm btn-primary">
                                            <span><i class="fa fa fa-male"></i></span>
                                            <input type="radio" asp-for="@Model.GenderId" value="@gender.Value" id="Gender@(gender)" />

                                            @gender.Text
                                        </label>


                                    }




                                }
                            </div>

                        </div>


<div class="form-group">

                        <div class="form-group">

                            <select type="text" class="select2 form-control" data-placeholder="Select Marital Status" multiple="multiple" style="width:100%" title="Select Marital Status" asp-for="@Model.MaritalStatusId" asp-items="@Model.MaritalStatuses"></select>
                        </div>
                        <div class="form-group">

                            <select class="select2 form-control" data-placeholder="Select Career" multiple="multiple" style="width:100%" title="Select Career" asp-for="@Model.CareerId" asp-items="@Model.Careers"></select>
                        </div>


                        </div>
              

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon fa fa-home"></i></span>
                            </div>
                            <input class="form-control" asp-for="@Model.Residence" type="text" placeholder="Enter Residence">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                            </div>
                            <input class="form-control" asp-for="@Model.Telephone" type="text" placeholder="Enter Telephone">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                            </div>
                            <input class="form-control" asp-for="@Model.Address" type="text" placeholder="Enter Address" />
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon fa fa-map-pin"></i></span>
                            </div>
                            <input class="form-control" asp-for="@Model.Residence" placeholder="Enter Hometown" />
                        </div>
                        <div class="form-group">
                            <select class="select2 form-control" multiple="multiple" style="width:100%" data-placeholder="Select region" title="Select Region" asp-for="@Model.RegionId" asp-items="@Model.Regions"></select>

                        </div>

                  

                    

                        <div class="form-group">
                            <img id="image" height="260" width="250" src="" />
                        </div>

                  @*      <div class="form-group">
                            <input class="btn btn-sm btn-primary" accept="capture=camera,image/*" id="Photo" name="Photo" onchange="document.getElementById('image').src=window.URL.createObjectURL(this.files[0])" type="file" asp-for="UploadPhoto" />


                        </div>*@
                    



                      
                                <div class="form-group">



                                    <select class="select2 form-control" multiple="multiple" data-placeholder="Select branch" style="width:100%" asp-items="@Model.Branches" asp-for="@Model.BranchId" title="Select Branch"></select>

                                </div>
                        <div class="form-group">
                <button class="btn btn-sm btn-primary btn-block" onclick="functionConfirm(this)">Update</button>
                        </div>
                 

            

        }
    </div>
</div>
      



