@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model IEnumerable<EKLEXIA.ViewModels.BranchesVM>;

    <div id="PlaceHolderHere"></div>
<div class="card">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-center">Branches</h5>

        <button class="btn btn-primary btn-sm text-white" data-toggle="ajax-modal" data-target="#AddBranch" data-url="@Url.Action("AddBranch")"><i class="fa fa-fw fa-sm fa-plus-circle"></i>Add Branch</button>

        <div class="card-header-right">


            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                      
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var grp in Model)
                    {
                        <tr>

                            <td> @grp.Name</td>

                           
                            <td>@grp.Description</td>

                            <td>
                                <div class="text-center">

                                    <div class="text-center">
                                        <div class="btn-group" role="group">
                                            <button data-toggle="ajax-modal" data-url="@Url.Action("EditGroup",new{Id=@Encryption.Encrypt(grp.Id)})" class="btn btn-sm btn-primary" data-target="#EditGroup"><i class="fa fa-sm fa-edit text-white"></i></button>
                                            <button data-toggle="ajax-modal" data-url="@Url.Action("ManageGroup",new{Id=@Encryption.Encrypt(grp.Id)})" class="btn btn-sm btn-primary" data-target="#ManageGroup"><i class="fa fa-sm fa-users text-white"></i></button>

                                            <button data-toggle="ajax-modal" data-url="@Url.Action("ManageGroup",new{Id=@Encryption.Encrypt(grp.Id)})" class="btn btn-sm btn-primary" data-target="#ManageGroup"><i class="fa fa-sm fa-trash text-white"></i></button>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }




                </tbody>
            </table>
        </div>
    </div>
</div>
