@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model IEnumerable<EKLEXIA.ViewModels.AttendanceListsVM>;


<div class="card">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-center">Register</h5>
        <a asp-action="AddAttendance" asp-controller="Attendance"  class="btn btn-primary btn-circle"><i class="fa fa-fw fa-sm fa-plus-circle"></i>New Attendance</a>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Clinic Number</th>
                    <th>Insurance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Member in Model)
                {
                    <tr>
                        <td>@Member.Fullname</td>
                        <td> @Member.DateofBirth.ToString("yyyy-MM-dd")</td>
                        <td>@Member.GenderId</td>
                        <td>@Member.Telephone</td>
                        <td>@Member.ClinicNumber</td>
                        <td>@Member.Insurance</td>
                        <td>
                            <div class="text-center">
                                <a asp-action="Card" asp-controller="Member" asp-route-Id="@Member.MemberId" class="btn btn-primary btn-circle"><i class="fa fa-sm fa-print text-white"></i></a>
                           
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

</div>