@using EKLEXIA.DataProtection;
@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model IEnumerable<EKLEXIA.ViewModels.AttendanceListsVM>;


<div class="card">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-center">Register</h5>
        <a asp-action="AddAttendance" asp-controller="Attendance"  class="btn btn-sm btn-primary"><i class="fa fa-fw fa-sm fa-plus-circle"></i>New Attendance</a>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Meeting</th>
                    <th>Date</th>
                    <th>Present/Absent</th>
                        <th>Comment</th>
                        <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var meeting in Model)
                {
                    <tr>
                            <td>@meeting.Fullname</td>
                            <td>@meeting.Meeting</td>
                        <td> @meeting.Date.ToString("yyyy-MM-dd")</td>
                      
                        <td><input type="checkbox" asp-for="@meeting.IsSelected"/></td>
                        <td>@meeting.Comment</td>
                     
                        <td>
                                <div class="text-center">
                                    <div class="btn-group" role="group">
                                        <button data-toggle="ajax-modal" data-url="@Url.Action("EditGroup",new{Id=@Encryption.Encrypt(meeting.AttendanceId)})" class="btn btn-sm btn-primary" data-target="#EditGroup"><i class="fa fa-sm fa-edit text-white"></i></button>
                                        <button data-toggle="ajax-modal" data-url="@Url.Action("ManageGroup",new{Id=@Encryption.Encrypt(meeting.AttendanceId)})" class="btn btn-sm btn-primary" data-target="#ManageGroup"><i class="fa fa-sm fa-users text-white"></i></button>

                                        <button data-toggle="ajax-modal" data-url="@Url.Action("ManageGroup",new{Id=@Encryption.Encrypt(meeting.AttendanceId)})" class="btn btn-sm btn-primary" data-target="#ManageGroup"><i class="fa fa-sm fa-trash text-white"></i></button>

                                    </div>
                                </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

</div>