
<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/css/bootstrap.min.css">
<!-- scrollbar.css -->
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mCustomScrollbar.css">
<!-- Style.css -->
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
<link href="~/assets/datatables/datatables.bootstrap4.css" rel="stylesheet" />

<link href="~/assets/datatables/datatables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/assets/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/assets/select2/css/select2.css" rel="stylesheet" />

@using EKLEXIA.Models;

@model EKLEXIA.ViewModels.AddAttendanceVM;


<div class="modal fade" id="AddAttendance" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        
        <div class="modal-content">
           
        <div class="modal-header">
                        <h5 class="m-0 font-weight-bold  text-center">Add Attendance</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>       
        <div class="modal-body">
                <div class="card-body">
                        <div class="form-group">
                            <input type="text" asp-for="@Model.Date" class="form-control" placeholder="Enter Username">

                        </div>

                        <div class="form-group">
                            <select  type="text" id="meetingType" class="form-control" asp-items="@Model.Meetings" asp-for="@Model.MeetingId" ></select>

                        </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    
                                    <th>Name</th>
                                    <th>Description</th>
                        
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Members.Count(); i++)
                                {
                                    <tr>
                                        <td>@Model.Members[i].Text</td>
                                        
                                        <td><input asp-for="@Model.Description" /></td>




                                        <input type="hidden" class="custom-checkbox" asp-for="@Model.Members[i].Value" />
                                        <td><input asp-for="Members[i].Selected" /></td>



                                    </tr>
                                                         }




                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-primary">Save</button>
        </div>
    </div>
  
</div>
</div>
<script type="text/javascript" src="~/assets/js/jquery/jquery.min.js "></script>
<script type="text/javascript" src="~/assets/js/jquery-ui/jquery-ui.min.js "></script>

<script type="text/javascript" src="~/assets/js/bootstrap/js/bootstrap.min.js "></script>

<script type="text/javascript" src="~/assets/js/script.js "></script>
<script src="~/assets/datatables/datatables.bootstrap4.js"></script>
<script src="~/assets/datatables/datatables.bootstrap4.min.js"></script>

<script src="~/assets/datatables/jquery.datatables.min.js"></script>

<script src="~/assets/js/ospapps.js"></script>
<script src="~/assets/select2/js/select2.full.min.js"></script>
<script src="~/assets/select2/js/select2.full.js"></script>
<script src="~/assets/select2/js/select2.min.js"></script>
<script src="~/assets/select2/js/select2.js"></script>
