@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model EKLEXIA.ViewModels.CardVM;
<div class="col-md-12">
    <div class="tile">

        <div class="tile-body">
            <div class="justify-content-center">

                <div class="card small">
                    <div class="card-header">
                        <h6>Member ID Card</h6>
                    </div>
                    <div  class="card-body" style="width:1in;height:2.2in">
                      
                        <div style="height:1.0in">@Model.Photo</div>

                        <label style="  position:fixed;  padding-left:55in">@Model.Fullname</label>
                      

                        <br style="height:5in" />

                        <label style="position:fixed;padding-left:1.5in">@Model.DoB.ToString("dd-MMM-yyyy")</label>

                        <label style="position:fixed; padding-left:2in">@Model.Address</label>

                        <br style="height:0.5in" />

                        <label  style="position:fixed; padding-left:1in">@Model.Telephone</label>

                        <label  style="position:fixed; padding-left:2in"></label>

                        <br style="height:0.5in" />
                        <label   style="position:fixed; padding-left:1in"></label>

                        </div>
                    <div class="card-footer">
                         <button id="printButton" class=" btn btn-primary mt-sm-2"><i class="fa fa-fw fa-lg fa-print"></i>Print Card</button>
                    </div>

                    </div>
                </div>
            </div>
        </div>



    </div>




