@model EKLEXIA.ViewModels.EditAttendanceVM;


<div class="modal fade" id="EditAttendance" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        @using (Html.BeginForm("EditAttendance", "Attendance", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header">

                    <h6>Edit Attendance</h6>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
                </div>


                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" asp-for="@Model.Date" required class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="@Model.MeetingId" required class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="@Model.MemberId" required class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="@Model.IsPresent" required class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea type="text" asp-for="@Model.Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm  btn-block btn-primary" onclick="functionConfirm(this)" >Update</button>
                </div>

            </div>
        }
    </div>
</div>
