@{ Layout = "~/Views/MainLayout.cshtml";}
@model EKLEXIA.ViewModels.DetailUserVM
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">New User</h6>
</div>
<div class="card-body justify-content-md-center">
    <div class="row justify-content-center">
        <div class="col-md-7">
        
                <div class="tile-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user-circle"></i></span></div>
                            <input class="form-control" type="text" asp-for="@Model.Fullname" placeholder="Enter Firstname"  readonly="readonly"/>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user-circle"></i></span></div>
                            <input class="form-control" type="text" asp-for="@Model.Surname" placeholder="Enter Surname" />
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                            <input class="form-control" asp-for="@Model.Username" placeholder="Enter Username"   readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
                            <input class="form-control" type="text" asp-for="@Model.Email" placeholder="Enter Email Address"   readonly="readonly"/>
                        </div>
                    </div>   <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
                            <input class="form-control" type="text" asp-for="@Model.Telephone" placeholder="Enter Telephone"   readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-list"></i></span></div>
                            <select id="selectBranch" class=" selectpicker form-control" title="Select Branch" data-style="btn-secondary" asp-for="BranchId" asp-items="@Model.Branches"   readonly="readonly"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-list"></i></span></div>
                            <select id="selectRole" class="form-control selectpicker" multiple="multiple"  title="Select Role" data-style="btn-secondary" asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles"   readonly="readonly"></select>
                        </div>
                    </div>
                </div>
                <div class="tile-footer text-center">
                    <button class="btn btn-primary"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                </div>
            
        </div>
    </div>
</div>
        