@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model EKLEXIA.ViewModels.EditMemberVM;

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Member</h6>
            </div>
            <div class="card-body justify-content-md-center">
                <div class="row justify-content-center">
                    <div class="col-md-7">


                        @using (Html.BeginForm("EditMember", "Member", FormMethod.Post))
                        {
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon fa fa-user-circle"></i></span></div>
                                    <input class="form-control mr-2" asp-for="@Model.Surname" type="text" placeholder="Surname">


                                    <div class="input-group-prepend"><span class="input-group-text "><i class="icon fa fa-user-circle"></i></span></div>
                                    <input class="form-control" asp-for="@Model.Othername" type="text" placeholder="Othernames">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text  ">Date of Birth</span></div>
                                    <input id="dob" class="form-control js-datepicker mr-2" type="date" asp-for="@Model.DoB"/>
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-venus-mars"></i></span></div>
                                    <select class="form-control" asp-items="@Model.Genders" asp-for="@Model.GenderId"></select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-phone-alt"></i></span></div>
                                    <input class="form-control" asp-for="@Model.Telephone" type="text" placeholder="Enter Telephone">

                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-map-marker"></i></span></div>
                                    <input class="form-control" asp-for="@Model.Address" type="text" placeholder="Enter Address">

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon fa fa-list"></i></span></div>
                                    <input class="form-control" asp-for="@Model.Residence" placeholder="Enter Hometown" />

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon fa fa-list"></i></span></div>
                                    <select class="form-control" asp-for="@Model.RegionId" placeholder="Select Region" />
                                </div>
                            </div>

                            <button class="btn btn-block btn-primary">Update</button>

                        }
                    </div>
                            </div>
                        </div>
    

